.footer {
    display: flex;
    justify-content: center;
    margin: 1rem 4rem;
    padding: 2em;
    line-height: 1.4em;
    color: var(--secondary-text);
}

.footer > div {
    margin: 0 2rem;
}

.additional-info {
    width: 40em;
}

.additional-info > h3, .contacts > h3, .reference-links > h3 {
    margin: .4em 0;
    font-size: 1em;
}

.additional-info > p {
    font-size: .8em;
}

.list > li {
    font-size: .8em;
}