.card-suggestions {
    position: relative;
    width: 320px;
    font-size: .9rem;
}

.card-suggestions > h2 {
    font-size: 1rem;
    padding: 0 0 .4em 0;
}

.suggestions-item {
    display: flex;
    padding-top: 1em;
    /* margin: 1rem 0; */
    line-height: 1.4em;
}

.suggestions-item > img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.suggestions-item {
    display: flex;
    border-top: 1px solid var(--secondary-text);
}

.suggestions-item > div {
    display: flex;
    flex-direction: column;
}

.suggestions-item .profile-name {
    font-weight: bold;
}

.suggestions-item .sug-profile-name:hover {
    color: var(--primary);
    cursor: pointer;
}

.suggestions-item .sug-profile-title{
    font-size: 12px;
    color: var(--secondary-text);
}

.button-suggestion {
    width: 154px;
    color: var(--main-text);
    border: solid 1px var(--main-text);
    background-color: transparent;
    margin-top: 4px;
}

.button-suggestion.connect {
    width: 99px;
}

.button-suggestion, .button-suggestion.connect {
    font-size: .9rem;
    margin-bottom: 1em;
}

.card-suggestions > .expand-line {
    margin-bottom: .4rem;
}

.button-suggestion:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s;
}